* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-size: 14px;
}

/**/

.nav-list {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      height: 10vh;
      padding-right: 2rem;
      color: white;
      background-color: midnightblue;
}

.article-div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-evenly;
      padding-left: 1rem;
      background-color: gainsboro

}

